<footer class="text-center bg-dark">
	<div class="container text-white py-4 py-lg-5">
		<div class="row site-map">
			<div class="col d-none d-md-block col-12 col-lg-auto mb-3 mb-lg-auto">
				<div>
					<img src="assets/img/logo_black_white.svg">
				</div>
			</div>
			<div class="col">
				<ul class="list-style-none">
					<li><a href="/">Home<br></a></li>
					<li><a href="/#service-option">Service<br></a></li>
					<li><a href="/#price-plans">Price<br></a></li>
				</ul>
			</div>
			<div class="col">
				<ul class="list-style-none">
					<li><a href="#">Support<br></a></li>
					<li><a href="/#contact-form">Contact<br></a></li>
					<li><a href="#">FAQ<br></a></li>
				</ul>
			</div>
			<div class="col">
				<ul class="list-style-none">
					<li><a href="#">Analytic<br></a></li>
					<li><a href="#">Planning<br></a></li>
					<li><a href="#">Estimate<br></a></li>
				</ul>
			</div>
			<div class="col col-12 col-md-auto mb-3 mb-md-auto">
				<span>Follow us on social media</span>
				<div class="social-media mt-2">
					<a href="#"><img src="assets/img/facebook.svg"></a><a
						href="#"><img src="assets/img/twitter.svg"></a><a href="#"><img
						src="assets/img/google_plus.svg"></a>
				</div>
			</div>
		</div>
		<p class="text-muted mb-0">Copyright © 2022 Brand</p>
	</div>
</footer>