<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SPV</title>
    <meta property="og:type" content="">
    <link rel="icon" type="image/svg+xml" sizes="92x35" href="assets/img/logo.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
</head>

<body>
    <header th:replace="fragments/header :: header"></header>
    <div id="menu-mask"></div>
    <main>
    	<a id="back-to-top" class="btn btn-primary" href="#" type="button"><i class="fa fa-arrow-up"></i></a>
        <section class="container"></section>
        <section style="height: 7vh;"></section>
        <section class="container p-0 position-relative">
            <h1 class="fw-bold text-center dark-blue-text" id="service-option" style="font-family: Poppins, sans-serif;">Discover our history and our purpose!<br></h1>
            <hr class="topic dark-blue-text mb-3">
            <p class="text-center p-3 my-4 ft ft-md ft-lg">From a need came an opportunity, all of this looking at people's difficulties when it comes to calculating the price of their properties.<br></p>
            <div class="about-cover" style="background: url(&quot;assets/img/about-cover.jpg&quot;);"></div>
        </section>
        <section class="container" style="height: 5vh;"></section>
        <section class="container px-lg-5">
            <div class="card">
                <div class="row g-0">
                    <div class="col col-12 col-lg-7 p-4 p-lg-5">
                        <div class="mx-auto card-body">
                            <h3 class="dark-purple-text" style="font-family: Poppins, sans-serif;">Ullamcorper faucibus tempus curae senectus conubia cras.<br></h3>
                            <p class="mt-4" style="font-family: 'Open Sans', sans-serif;">Ad venenatis curabitur elementum viverra quis curae, etiam vehicula lobortis quisque elit condimentum imperdiet, enim ante sed phasellus potenti feugiat accumsan, nisi conubia a, quis tristique tellus, cubilia tempor lorem praesent quam pharetra tortor viverra fusce mauris magna elementum tincidunt mauris, arcu ante senectus etiam integer cursus ullamcorper nullam semper, libero nec nisi quam tempor diam odio massa, facilisis sapien scelerisque, curabitur curae tempor tellus curabitur nam elit et taciti congue et fames litora aenean, arcu ultricies ipsum auctor sollicitudin ut imperdiet, nulla ante class massa porttitor primis.<br><br></p>
                        </div>
                    </div>
                    <div class="col text-center col-12 col-lg-5"><img class="img-fluid rounded-start" src="assets/img/man_at_pc.jpg"></div>
                </div>
            </div>
        </section>
        <section class="container" style="height: 5vh;"></section>
        <section class="container px-lg-5">
            <div class="card">
                <div class="row g-0">
                    <div class="col text-center order-last order-lg-first col-12 col-lg-5"><img class="img-fluid rounded-start" src="assets/img/people_meeting.jpg"></div>
                    <div class="col col-12 col-lg-7 p-4 p-lg-5">
                        <div class="mx-auto card-body">
                            <h3 class="dark-purple-text" style="font-family: Poppins, sans-serif;">Ullamcorper faucibus tempus curae senectus conubia cras.<br></h3>
                            <p class="mt-4" style="font-family: 'Open Sans', sans-serif;">Ad venenatis curabitur elementum viverra quis curae, etiam vehicula lobortis quisque elit condimentum imperdiet, enim ante sed phasellus potenti feugiat accumsan, nisi conubia a, quis tristique tellus, cubilia tempor lorem praesent quam pharetra tortor viverra fusce mauris magna elementum tincidunt mauris, arcu ante senectus etiam integer cursus ullamcorper nullam semper, libero nec nisi quam tempor diam odio massa, facilisis sapien scelerisque, curabitur curae tempor tellus curabitur nam elit et taciti congue et fames litora aenean, arcu ultricies ipsum auctor sollicitudin ut imperdiet, nulla ante class massa porttitor primis.<br><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container" style="height: 5vh;"></section>
        <section class="container">
            <h2 class="text-center dark-blue-text" style="font-family: Poppins, sans-serif;">People who are part of this success<br></h2>
            <div class="mt-5">
                <div class="row justify-content-lg-center scrolling-wrapper-flexbox mb-3" id="service-scrollable">
                    <div class="col col-12 col-md-4 col-lg-auto w-auto" id="item1">
                        <div class="card mx-auto px-4 py-3 m-0" style="max-width: 250px;"><img class="img-fluid card-img-top w-100 d-block colaborator-img" src="assets/img/david.jpg">
                            <div class="card-body">
                                <h4 class="text-center card-title">David Silva<br></h4>
                                <p class="card-text colaborator-text">Responsible for the execution of the project and its development, applying its knowledge in the creation of the project's interface.<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-12 col-md-4 col-lg-auto w-auto" id="item2">
                        <div class="card mx-auto px-4 py-3 m-0" style="max-width: 250px;"><img class="img-fluid card-img-top w-100 d-block colaborator-img" src="assets/img/luiz.jpg">
                            <div class="card-body">
                                <h4 class="text-center card-title">Luiz A. Dias<br></h4>
                                <p class="card-text colaborator-text">Responsible for the execution of the project and its development, applying its knowledge in the creation of the project's interface.<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-12 col-md-4 col-lg-auto w-auto" id="item3">
                        <div class="card mx-auto px-4 py-3 m-0" style="max-width: 250px;"><img class="img-fluid card-img-top w-100 d-block colaborator-img" src="assets/img/raul.jpg">
                            <div class="card-body">
                                <h4 class="text-center card-title">Raul M. Fuzita<br></h4>
                                <p class="card-text colaborator-text">Hi, I'm the CEO of SPV. I expect you to enjoy our project as much as I have enjoyed working on it.<br>SPV is happy to have you working with us. Don't miss our weekly newsletter for updates.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-scrollable" data-target="service-scrollable"><span class="bullet active"></span><span class="bullet"></span><span class="bullet"></span></div>
            </div>
        </section>
        <section class="container" style="height: 15vh;"></section>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>