<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<form action="predict" method="GET">
		<input type="text" name="property-name" placeholder="Property Name">
		<input type="text" name="location" placeholder="Location (10, street, county, country)">
		<label>Bedroom </label><input type="number" value="1">
		<label>Bathroom </label><input type="number" value="1">
		<input type="text" name="type" placeholder="Property type">
	</form>

</body>
</html>